/* Quick Summary Styles */

.c-summary {
    opacity: .9;
    margin-left: 9em;
    margin-right: 9em;
}

@media screen and (max-width: 56.1875em) {
    .c-summary {
        opacity: .9;
        margin-left: 6em;
        margin-right: 6em;
    }
}

@media screen and (max-width: 37.4375em) {
    .c-summary {
        opacity: .9;
        margin: 0;
    }
}

.c-summary>p {
    display: inline;
    padding-top: 0.3em;
    padding-right: 1.5em;
    padding-bottom: 0.3em;
    padding-left: 1.5em;
    line-height: 2;
    font-family: 'Noto Sans', sans-serif;
    font-stretch: condensed;
    font-size: 85%;
    font-style: italic;
    text-decoration: none;
    background: transparent;
    border-radius: 30px;
    background-color: #23282dd1;
    color: white;
}

section.article__summary {
    display: inline;
}

section.article__summary p {
    display: inline;
    color: #848484;
    font-style: italic;
}